body {
	font-family: inter;
	background-color: #D9BF9A;
}

.container {
	padding: 1em 3em;
	max-width: 500px;
	margin: 0 auto;
	width: 90vw;
	background-color: white;
	border-radius: 5%;
}


span {
	margin: 10px 0px;
}

img {
	max-width: 500px;
	width: 90vw;
	height: auto;
}

.image,
h1,
h2 {
	text-align: center;
}

.welcome-header {
	margin: 0 auto;
}

.row {
	display: flex;
	justify-content: space-between;
}

.buttons {
	display: flex;
	justify-content: space-around;
}

.farm {
	border: 3px solid #D9BF9A;
	padding: 5px;
}

button {
	padding: 7px;
	font-size: 1em;
	margin: 10px 0px;
	background-color: #D9BF9A;
	border: solid 1px;
	border-radius: 5px;
}